{% extends "AppWebBundle::layout.html.twig" %} {% block title %}Online Community of Stores - {{ category.getCategoryName() }}{% endblock %} {% block styleseet %} {% endblock %} {% block content %}
<div class="center-1200px breadcrumb ptb-15p uppercase-txt">
    <a href="{{ path('home') }}">Home</a> - Category - <a href="{{ path('category_page', {id: category.getId()}) }}">  {{ category.getCategoryName() }} </a> - All Products
</div>

<div class="center-1200px block-fl-cary va-top">
    <div class="filters-left block-3 ptb-15p sb-ptb-5p   block-lb-12 block-fl-cary va-top resposive-filter transition_05s">
        <form id="FrmFilter"><div id="main_filter"></div></form>
    </div>
    <div class="close-filter pointer-csr full-width ptb-5p blue-bg white-txt uppercase-txt pl-10p">
        <span class="icon-close-x" style="font-size:12px;"></span> Close
    </div>
    <script type="text/javascript">
        var filter_modal = new FilterModal();
    </script>
    <div class="block-9 block-lb-12 productspage-pro ptb-15p block-fl-cary pb-50p lb-border-none">
        <h4 class="pl-25p"> All Products </h4>
        <div id="item-thumbs">
            {% set break = false %}
            {% set cur = 0 %}
            {% for entry in category.getInStockEntries() if not break %}
                {% if app_web_user.isDeliverable(entry) %}
                    {% set thumb_content = render(controller('AppWebBundle:Item:thumb', { 'id': entry.getId() })) %}
                    {% if thumb_content != "" %}
                        {{ thumb_content|raw }}
                        {% set cur = cur + 1 %}
                    {% endif %}
                    {% if cur == 9 %}
                        {% set break = true %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            <a class="next-page" style="display: inline-block;width: 100%;text-align: center;margin-top: 20px;" href="javascript:void(0);" data-url="{{ path('category_next_page', {id: category.getId(), page: 1}) }}">Load More</a>
        </div>
        <script type="text/javascript">
            var page = 1;
            $('.next-page').on('click', function(){
                $.ajax({
                    url: $(this).data('url'),
                    success: function(resp) {
                        $('.next-page').remove();
                        $('#item-thumbs').append(resp);
                    }
                });
            });
            {#$('#item-thumbs').jscroll({
                nextSelector: 'a.next-page',
                loadingHtml: '<div style="width:100%; text-align:center; margin-top:20px;"><img style="display: inline-block; position: relative; top: 3px; right: 5px;" src="{{ asset('images/ajax-loader.gif') }}" /> Loading...</div>',
                callback: function() {
                    page++;

                    var thumbs = $( ".item-thumb" );

                    if (thumbs.parent().is("div.jscroll-added")) {
                        thumbs.unwrap();
                    }
                }
            });#}

            $.ajax({
                url: '{{ path('category_filter', {'id': category.getId()}) }}',
                success: function(resp) {
                    $('body').append(resp);
                }
            });
        </script>
    </div>
</div>
{% endblock%} {% block javascript %} {% endblock %}