{% extends "AppWebBundle::layout.html.twig" %} {% block title %}Online Community of Stores - {{ category.getCategoryName() }}{% endblock %} {% block styleseet %} {% endblock %} {% block content %}
<div class="center-1200px breadcrumb ptb-15p uppercase-txt">
    <a href="{{ path('home') }}">Home</a> - Category - <a href="{{ path('category_page', {id: category.getId()}) }}">  {{ category.getCategoryName() }} </a> - All Products
</div>

<div class="center-1200px block-fl-cary va-top">
    <div class="filters-left block-3 ptb-15p sb-ptb-5p   block-lb-12 block-fl-cary va-top resposive-filter transition_05s">
        <div id="main_filter"></div>
    </div>
    <div class="close-filter pointer-csr full-width ptb-5p blue-bg white-txt uppercase-txt pl-10p">
        <span class="icon-close-x" style="font-size:12px;"></span> Close
    </div>
    <script type="text/javascript">
        var filter_modal = new FilterModal();
    </script>
    <div class="block-9 block-lb-12 productspage-pro ptb-15p block-fl-cary pb-50p lb-border-none">
        <h4 class="pl-25p"> All Products </h4>
        <div id="item-thumbs">
            {% for entry in category.getInStockEntries() %}
                {% if app_web_user.isDeliverable(entry) %}
                    {{ render(controller('AppWebBundle:Item:thumb', { 'id': entry.getId() })) }}
                {% endif %}
            {% endfor %}
            <a class="next-page" href="{{ path('category_next_page', {id: category.getId(), page: 0}) }}">next page</a>
        </div>
        <script type="text/javascript">
            $('#item-thumbs').jscroll({
                nextSelector: 'a.next-page'
            });
            $('#main_filter').ItemFilter(filter_modal);
        </script>
    </div>
</div>
{% endblock%} {% block javascript %} {% endblock %}