<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %}</title>
    {% stylesheets
        'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
        'assets/vendor/metisMenu/dist/metisMenu.min.css'
        'assets/vendor/font-awesome/css/font-awesome.min.css'
        'assets/vendor/bootstrap3-dialog/src/css/bootstrap-dialog.css'
        'assets/vendor/jquery-tokeninput/styles/token-input.css'
        'assets/vendor/jquery-tokeninput/styles/token-input-facebook.css'
        'bundles/appfront/css/*'
        filter='cssrewrite' output='css/compiled/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {% stylesheets '@AppFrontBundle/Resources/public/less/style.less' output='css/compiled/app_less.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {% stylesheets '@AppFrontBundle/Resources/public/sass/style.scss' output='css/compiled/app_sass.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {% block style %}{% endblock %}
    {% javascripts
        'assets/vendor/jquery/jquery.min.js'
        'assets/vendor/angular/angular.min.js'
        'assets/vendor/bootstrap/dist/js/bootstrap.min.js'
        'assets/vendor/bootstrap/js/modal.js'
        'assets/vendor/moment/min/moment.min.js'
        'assets/vendor/bootstrap3-dialog/src/js/bootstrap-dialog.js'
        'assets/vendor/bootstrap-validator/dist/validator.js'
        'assets/vendor/metisMenu/dist/metisMenu.min.js'       
        '@AppFrontBundle/Resources/public/js/*'
        output='js/compiled/main.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>var TRANSLATIONS_LOCALE = "{{ app.request.locale }}"</script>
    <script src="{{ path('funddy_jstranslations', {locale: app.request.locale}) }}"></script>
    <script src="{{ asset('bundles/funddyjstranslations/js/lib/funddytranslations.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    {{ tinymce_init() }}
</head>
<body ng-app="modal">
    <div id="wrapper" ng-controller="MainCtrl">
        <div class="modal_container">
            <modal id="modal" title="[[ modalTitle ]]" visible="showModal">
                <form id="modal-form" role="form" data-toggle="validator" method="post" action="[[ formAction ]]" ng-controller="MainCtrl" enctype="multipart/form-data">
                    <div ng-bind-html="modalHtml | unsafe" style="margin-bottom: 45px;"></div>
                    <div class="modal-footer"><div class="btn-group btn-group-justified" role="group" aria-label="group button"><div class="btn-group" role="group"><button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Close</button></div><div class="btn-group" role="group"><button type="submit" id="saveImage" class="btn btn-default btn-hover-green" data-action="save" role="button">Submit</button></div></div></div>
                </form>
            </modal>
        </div>
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="#">{{ 'menu.hello' | trans }} {{ app.user.getUsedName() }} {% if is_granted('ROLE_ADMIN') %} [Admin] {% endif %}</a>
                </div>
                <div class="navbar-header pull-right">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul class="nav navbar-top-links navbar-right" style="float: left;">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="{{ path('app_front_admin_profile') }}"><i class="fa fa-user fa-fw"></i> {{ 'menu.reset' | trans }} </a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('app_front_admin_logout') }}"><i class="fa fa-sign-out fa-fw"></i> {{ 'menu.logout' | trans }}</a></li>
                            </ul>
                        </li>
                        {#<li>
                            <div class="lang_container">
                                <a {% if app.request.locale == 'en' %}class="active_locale"{% endif %} href="{{ path('set_lang', {_locale: 'en', route: path(app.request.get('_route'), app.request.get('_route_params')) | urlencrypt}) }}"><img src="{{ asset('/bundles/appfront/images/flag_en.png') }}" /></a>
                                <a {% if app.request.locale == 'de' %}class="active_locale"{% endif %} href="{{ path('set_lang', {_locale: 'de', route: path(app.request.get('_route'), app.request.get('_route_params')) | urlencrypt}) }}"><img src="{{ asset('/bundles/appfront/images/flag_de.png') }}" /></a>
                            </div>
                        </li>#}
                    </ul>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="{% block region_active %}{% endblock %}"><a href="{{ path('app_front_admin_region') }}">Regions</a></li>
                        <li class="{% block category_active %}{% endblock %}"><a href="{{ path('app_front_admin_category') }}">Category</a></li>
                        <li class="{% block product_active %}{% endblock %}"><a href="{{ path('app_front_admin_product') }}">Products</a></li>
                        <li class="{% block brand_active %}{% endblock %}"><a href="{{ path('app_front_admin_brand') }}">Brands</a></li>
                        <li class="{% block variant_active %}{% endblock %}"><a href="{{ path('app_front_admin_variant') }}">Variants</a></li>
                        <li class="{% block item_active %}{% endblock %}"><a href="{{ path('product_items', {'id' : 0}) }}">Items</a></li>
                        <li class="{% block banner_active %}{% endblock %}"><a href="{{ path('app_front_admin_banner') }}">Banners</a></li>
                        <li class="{% block vendor_active %}{% endblock %}"><a href="{{ path('app_front_admin_vendor') }}">Vendors</a></li>
                        <li class="{% block purchase_active %}{% endblock %}"><a href="{{ path('app_front_admin_order') }}">Orders</a></li>
                    </ul>
                </div>
            
        </nav>
        <div id="page-wrapper">
            {% set flashbag = app.session.flashBag.all %}
            {% if flashbag|length > 0 %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-header" style="margin: 0 !important;">
                            {% for type, messages in flashbag %}
                                {% for message in messages %}
                                    {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
                                    <div class="alert alert-{{ type }}">
                                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                                        <strong>{{ type | capitalize }}!</strong>
                                        {{ message | trans | raw }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    </div>
    {% block javascript %}{% endblock %}
</body>

</html>
