<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="description" content="Momooz, online community of stores"  />
        <meta http-equiv="keywords" content="" />
        <link rel="icon" type="image/png" sizes="16x16" href="">
        <!-- Twitter card -->
        <meta name="twitter:card" content="">
        <meta name="twitter:site" content="">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="">
        <meta name="twitter:image" content="">
        <!-- OpenGraph information-->
        <meta property="og:title" content="Momooz" />
        <meta property="og:description" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="">
        <title>Momooz - {% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('images/favicon.png') }}" type="image/vnd.microsoft.icon" />
        <link rel="stylesheet" href="{{ asset('assets/vendor/autocompletelikegoogle/jquery.autocomplete.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/appweb/css/AnimateBone.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/appweb/css/BackBone.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/appweb/css/style.css') }}">
        {% block stylesheet %}{% endblock %}
        <script type="text/javascript">
            var to_cart_url = "{{ path('item_add_to_cart', {'id': 0}) }}";
        </script>
        <script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/jquery.easing/js/jquery.easing.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/autocompletelikegoogle/jquery.autocomplete.js') }}"></script>
        <script src="{{ asset('assets/vendor/bootstrap-validator/dist/validator.js') }}"></script>
        <script src="{{ asset('assets/vendor/jscroll/jquery.jscroll.js') }}"></script>
        <script src="{{ asset('bundles/appweb/js/jquery.imgzoom.js') }}"></script>
        <script src="{{ asset('bundles/appweb/js/app.js') }}"></script>
        {% if app.user %}
            {% if app.user.getEmail() == null or app.user.getPhone() == null %}
                <script>
                    window.location = '{{ url('request_consumer_email_phone') }}';
                </script>
            {% endif %}
        {% endif %}
</head>
<body class="relative-pos">
    {% set defaultRegion = app_web_user.getDefaultRegion() %}
    {% if app.session.get('region') is null %}
        {% set temp_region_set = app_web_user.setDefaultRegion() %}
    {% endif %}
    
    {# message popup html #}
    <div class="alert-popup fixed-pos top-pos left-pos z10 full-wxh transition_05s">
        <div class="alert-popup-text-cary ptb-25p text-center absolute-middle absolute-pos block-6 br-4p white-bg transition_06s">
            <h3 class="success-text"> <span style="display:inline-block; font-size:14px;" class="icon-check-square-o"></span> Success! </h3>
            <h3 class="error-text"> <span style="display:inline-block; font-size:14px;" class="icon-exclamation-triangle"></span> Error! </h3>
            <p class="prl-20p alert-msg"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer </p>
            <div class="full-width text-center"> <span style="display:inline-block;" class="prl-10p br-4p pointer-csr ptb-5p close-alert"> Close </span> </div>
        </div>
    </div>

    <section class="full-width clearSet block-fl-cary top-header va-top">
        <div class="center-1200px clearSet block-fl-cary">
            <div class="block-6 white-txt mt-10p mb-5p block-mb-6 block-sb-12 sb-font-10p sb-text-left">
                <span class="icon-phone mr-5p"></span> +91 9749484848  <span class="ml-20p mr-5p 0000icon-envelope-o mb-none"></span>
                <a href="mailto:info@momooz.com" class="mb-none"> info@momooz.com </a>
            </div>
            <div class="block-6 white-txt block-fl-cary block-mb-6 block-sb-12">
                <div class="block-6 prl-10p sb-ptb-5p block-fl-cary  change-location block-mb-12">
                    <form method="post" action="{{ path('home_switch_location') }}" id="frmSwitchLocation">
                        <span class="icon-map-marker block-1 dispaly-inline-block"></span>
                        <select class="top-place-select dispaly-inline-block ml-10p" name="region" id="cmbRegion">
                            {% for region in app_web_user.getExploredRegion() %}
                                <option {% if region.getId() == app.session.get('region') %}selected=""{% endif %} value="{{ region.getId() }}"> {{ region.getRegionName() }} </option>
                            {% endfor %}
                        </select>
                        <script type="text/javascript">
                            $(document).ready(function(){
                                $('#cmbRegion').on('change', function(){
                                    $('#frmSwitchLocation').submit();
                                });
                            });
                        </script>
                    </form>
                </div>
                <div class="block-6 block-mb-12 mt-10p clearSet social-top-header relative-pos mb-none">
                    <a href="https://www.facebook.com/MoMoOZBazaar/" class="fb" target="_blank"></a>
                    <!--<a href="" class="tw"></a>-->
                    <a href="https://www.instagram.com/momooz_com/" class="tw" target="_blank"></a>
               <!--     <a href="" class="yt"></a>-->
                    <a href="https://plus.google.com/110829462966957449374" class="gp" target="_blank"></a>
                    <img src="{{ asset('bundles/appweb/images/icons/social-w-icons.svg') }}" class="right-float" width="100" alt="social momooz">
                </div>
            </div>
        </div>
    </section>
    <section class="center-1200px block-fl-cary pt-20p logo-cart-search pb-15p va-top">
        <div class="block-2 block-mb-12 mb-text-center">
            <div class="block-mb-5 center-pos">
                <a href="{{ path('home') }}"> <img src="{{ asset('bundles/appweb/images/icons/logo.png') }}" class="image-fw" alt="momooz"> </a>
            </div>
        </div>
        <div class="block-6 clearSet block-mb-12">
            <div class="block-10 right-float relative-pos mb-fn block-mb-12">
                <form method="get" action="{{ path('keyword_web_search') }}">
                    <input type="text" name="q" id="global-search" placeholder="Search Products" class="search-main-home" value="{{ app.request.get('q') }}" required="required">
                   <button class="searchEntBut" type="submit"></button>
                </form>
            </div>
        </div>
        <div class="block-4 block-fl-cary block-mb-12 text-right home-page-cart mb-text-center">
            <ul class="mt-25p">
                <li class="prl-15p responcive-menu-cliker  pointer-csr"> <span class="icon-bars"></span> </li>
                <li class="prl-15p relative-pos {% if app.user == null %}user-click{% else %}user-clickB{% endif %} pointer-csr"> 
                    <!--{% if app.user %}<a href="{{ path('account_home') }}">{% endif %}-->
                    <img src="{% if app.user == null %}{{ asset('bundles/appweb/images/icons/login_in.png') }}{% else %}{{ asset('bundles/appweb/images/icons/user.svg') }}{% endif %}" width="25" alt="user"> 
                    {% if app.user %}</a>{% endif %}
                    <!--user-clickB // plz add this class to above li if login-->
                    {% if app.user %}
                    <div class="LogOutDropDown absolute-pos">
                       <a href="{{ path('account_home') }}"> Dashboard </a>
                       <a href="{{ path('profile_page') }}"> Profile </a>
                       <a href="{{ path('address_page') }}"> Delivery Address </a>
                       <a href="{{ path('orders_page') }}"> My Orders </a>
                       <a href="{{ path('app_front_consumer_logout') }}" class="logOut"> Logout </a>
                   </div>
                    {% endif %}
                </li>
                <!--<li class="prl-15p user-click2 pointer-csr relative-pos"> logAC 
                   <div class="logAfterClick absolute-pos left-pos">
                       <a href=""> <span class="dispaly-inline-block icon-caret-right mr-5p"></span> My Account </a> <br/>
                       <a href=""> <span class="dispaly-inline-block icon-caret-right mr-5p"></span> Logout </a> 
                   </div>
               </li>-->
                <li class="prl-15p relative-pos whish-click pointer-csr"> 
                    <a href="{{ path('wishlist_page') }}">
                        <img src="{{ asset('bundles/appweb/images/icons/wishlist.svg') }}" width="25" alt="Whishlist">
                        <div class="badge" id="wishlist-badge">{{ app_web_user.getWishlist().getItems().count() }}</div>
                    </a>
                </li>
                <li class="pl-15p relative-pos cart-click "> 
                    <a href="{{ path('cart_page') }}">
                        <img src="{{ asset('bundles/appweb/images/icons/cart.svg') }}" width="25" alt="Cart">
                        {% set cart = app_web_user.getCart() %}
                        <div class="badge" id="cart-badge">{{ cart.getItems().count() }}</div>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <div class="login-register-show absolute-pos block-4 transition_03s">
        <div class="block-8 mt-30p center-pos text-center">

            <h4 class="text-center white-txt mt-50p"> - Login - </h4>
            <form role="form" name="frmlogin" id="frmlogin" method="POST" action="{{ path('app_front_consumer_login_check') }}">
                <ul>
                    <li> <input type="text" name="_username" id="username" placeholder="Username"> </li>
                    <li> <input type="password" name="_password" id="password" placeholder="Password"> </li>
                    <li class="text-center login-butn">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
                        <button type="submit" class="submit-login mr-5p transition_05s pointer-csr" > Login <span class="icon-arrow-right"></span> </button>  /
                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}"> <span class="icon-facebook"></span> </a> /
                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}"> <span class="icon-google-plus"></span> </a>
                    </li>
                    <li class="text-center login-reg-pasword pt-15p"> <a href="{{ path('register_page') }}"> Register </a> - <a href="{{ path('forgot_consumer_password') }}"> Forgot Password </a>  </li>
                </ul>
            </form>
            <span class="close-login icon-close-x pointer-csr white-txt" title="close"></span>
        </div>
    </div>


    <nav class="center-1200px block-fl-cary relative-pos text-center ptb-10p navigation transition_03s">
        <span class="icon-close-x pointer-csr close-main-menu white-txt"></span>
        <ul>
            <li class="pointer-csr nav-catg-click"> Category <span class="icon-angle-down"> </span> </li>
            {#<li class="pointer-csr"> <a href="{{ path('stores') }}"> Store </a>  </li>#}
            <li class="pointer-csr"> <a href="{{ path('offers') }}">  Offer </a> </li>
            {{ render(controller('AppWebBundle:Category:popularMenu')) }}
            {% if app.user %}<li class="pointer-csr"> <a href="{{ path('refer_a_friend') }}">  Refer a friend </a> </li>{% endif %}
            {% if app.user is null %}
                <li class="pointer-csr"> <a href="{{ path('login_page') }}">  Sign In </a> </li>
                <li class="pointer-csr"> <a href="{{ path('register_page') }}">  Sign Up </a> </li>
            {% else %}
                <li class="pointer-csr"> <a href="{{ path('app_front_consumer_logout') }}">  Logout </a> </li>
            {% endif %}
        </ul>

        <div class="full-width clearSet nav-submenu  absolute-pos block-fl-cary text-left overflow-hidden transition_03s">
            {{ render(controller('AppWebBundle:Category:index', { 'id': 1 })) }}
            <div class="block-4 right-float mt-10p pr-10p menu-preview-box">
                <a href="">
                    <img src="" class="image-fw" alt="Category Image">
                </a>
            </div>
            <script type="text/javascript">
                $('.nav-submenu ul li a').on('mouseover', function(){
                    $('.menu-preview-box').find('a').attr('href', $(this).data('link'));
                    $('.menu-preview-box').find('img').attr('src', $(this).data('img'));
                });
                
                var $first_menu = $('.nav-submenu').find('li').eq(0).find('a');
                $('.menu-preview-box').find('a').attr('href', $first_menu.data('link'));
                $('.menu-preview-box').find('img').attr('src', $first_menu.data('img'));
            </script>
        </div>
    </nav>
    {% block content %}{% endblock%}
    <footer class="center-1200px  ptb-30p">
        <div class="block-fl-cary va-top">
            <div class="block-2 mt-15p block-mb-4 block-sb-12 sb-text-left">
                <h4 class="mb-10p"> <strong>site</strong> </h4>
                <a href="{{ path('about_page') }}"> About Us </a> <br>
                {#<a href="{{ path('stores') }}"> Local Shop </a><br>#}
                <a href="{{ path('category_page', {id: 1}) }}"> Products </a><br>
            </div>
            <div class="block-2 mt-15p block-mb-4 block-sb-12 sb-text-left">
                <div class="block-11">
                    <h4 class="mb-10p"> <strong>Help</strong> </h4>
                    <a href="{{ path('faq_page') }}"> FAQs </a> <br>
                    <a href="{{ path('contact_page') }}"> Contact Us </a><br>
                </div>
            </div>
            <div class="block-3 mt-15p block-mb-4 block-sb-12 sb-text-left">
                <div class="block-11">
                    <h4 class="mb-10p"> <strong>Policies</strong> </h4>
                    <a href="{{ path('policy_page') }}"> Policies  </a> <br>
                    <a href="{{ path('terms_page') }}"> Terms and Conditions  </a><br>
                </div>
            </div>
            <div class="block-2 mt-15p block-mb-4 block-sb-12 sb-text-left">
                <h4 class="mb-10p"> <strong>Social Media</strong> </h4>
                <div class="full-width mt-15p relative-pos footer-social">
                    <a href="https://www.facebook.com/MoMoOZBazaar/" class="fb" target="_blank"></a>
                    <a href="https://www.instagram.com/momooz_com/" class="tw" target="_blank"></a>
                    <a href="https://plus.google.com/110829462966957449374" class="yt" target="_blank"></a>
                    <!--<a href="" class="gp"></a>-->
                    <img src="{{ asset('bundles/appweb/images/icons/social-icons.svg') }}" width="100" alt="social momooz">
                </div>
            </div>
            <div class="block-3 mt-15p block-mb-4 block-sb-12 sb-text-left">
                <div class="block-11">
                    <h4 class="mb-10p"> <strong>Reach Us</strong> </h4>
                    For any query please email us   <br>
                    
                    <a href="mailto:info@momooz.com"> <span class="spanWhats icon-envelope-o mr-5p"></span> info@momooz.com  </a><br>
                    <span class="spanWhats icon-whatsapp mr-5p"></span> +91 9749 484 848 <br>
                </div>
            </div>
        </div>
    </footer>

    <section class="footer-comn-catg center-1200px bottom-brd footer-bottom-click pointer-csr transition_05s ptb-10p">
        <div class="full-width block-fl-cary">
            <div class="block-6"> <h5 class="transition_05s sb-text-left"> POPULAR CATEGORIES </h5> </div>
            <div class="block-6 text-right"> <span class="footer-submenu transition_06s pointer-csr relative-pos pr-15p"> Expand </span> </div>
        </div>
        <div class="full-width mt-15p block-fl-cary sb-text-left">
            {% for cat in app_web_user.getAllPopularcategories() %}
                <a href="{{ path('category_page', {id: cat.getId()}) }}"> {{ cat.getCategoryName() }} </a>
            {% endfor %}
        </div>
    </section>

    {#<section class="footer-comn-catg center-1200px bottom-brd footer-bottom-click pointer-csr transition_05s ptb-10p">
        <div class="full-width block-fl-cary">
            <div class="block-6"> <h5 class="transition_05s sb-text-left"> POPULAR Shopes </h5> </div>
            <div class="block-6 text-right"> <div class="footer-submenu transition_06s pointer-csr relative-pos pr-15p"> Expand </div> </div>
        </div>
        <div class="full-width mt-15p block-fl-cary sb-text-left">
            {% for store in app_web_user.getAllVendors() %}
                <a href="{{ path('store_items', {id: store.getId()}) }}"> {{ store.getFullName() }} </a>
            {% endfor %}
        </div>
    </section>#}

    <section class="footer-comn-catg center-1200px bottom-brd footer-bottom-click pointer-csr transition_05s ptb-10p">
        <div class="full-width block-fl-cary">
            <div class="block-6"> <h5 class="transition_05s sb-text-left"> Available CITIES </h5> </div>
            <div class="block-6 text-right sb-text-left"> <div class="footer-submenu transition_06s  pointer-csr relative-pos pr-15p"> Expand </div> </div>
        </div>
        <div class="full-width mt-15p block-fl-cary sb-text-left">
            {% for city in app_web_user.getAllRegions() %}
                <a href="#"> {{ city.getRegionName() }} </a>
            {% endfor %}
        </div>
    </section>

    {#<section class="footer-comn-catg center-1200px footer-bottom-click pointer-csr bottom-brd transition_05s ptb-10p">
        <div class="full-width block-fl-cary">
            <div class="block-6"> <h5 class="transition_05s sb-text-left"> PAYMENT OPTIONS </h5> </div>
            <div class="block-6 text-right"> <div class="footer-submenu transition_06s pointer-csr relative-pos pr-15p"> Expand </div> </div>
        </div>
        <div class="full-width mt-15p block-fl-cary sb-text-left">
            <a href=""> Sunflower Oils </a> <a href=""> Wheat Atta</a> <a href="">Ghee</a> <a href=""> Milk </a> <a href=""> Health Drinks </a>
            <a href=""> Flakes </a> <a href=""> Organic F&V </a> <a href=""> Namkeen </a> <a href=""> Eggs </a> <a href=""> Floor Cleaners </a>
            <a href=""> Other Juices </a> <a href=""> Leafy Vegetables </a> <a href=""> Frozen Veg Food </a> <a href=""> Diapers & Wipes </a>
            <a href=""> Flakes </a> <a href=""> Organic F&V </a> <a href=""> Namkeen </a> <a href=""> Eggs </a> <a href=""> Floor Cleaners </a>
            <a href=""> Other Juices </a> <a href=""> Leafy Vegetables </a> <a href=""> Frozen Veg Food </a> <a href=""> Diapers & Wipes </a>
        </div>
    </section>#}
    
<div class="text-center block-fl-cary center-1200px mt-20p">
    <h4> We Accept </h4>
    <div class="block-5 block-mb-11 block-sb-12 mt-10p">
        <img src="{{ asset('bundles/appweb/images/pay.png') }}" class="image-fw" alt="">
    </div>
</div>

    <section class="full-width footer-second mt-20p text-center ptb-10p white-txt"> Copyright © 2016, momooz Pvt Ltd, powered by
    <a href="http://primalcodes.com/" target="new"> primalcodes </a> </section>
    {#<script type="text/javascript">
        $(function() {
            $("#global-search").autocomplete({source:[
                {
                 url:"{{ path('keyword_web_autocomplete') }}?q=%QUERY%",
                 type:'remote'
                }
            ]}).on('selected.xdsoft',function(e,val){
                window.location = "{{ path('keyword_web_search') }}?q="+val;
            }); 
        });
    </script>#}
    {% block javascript %}{% endblock %}
    
    
    <!--Place selection popup -------------------------------------------------------------------------------->
    <section class="first-location-popup fixed-pos full-width Screen-height top-pos left-pos z10 transition_05s">
        <div class="select-alocation absolute-middle absolute-pos br-8p overflow-hidden bs-nrmls block-5 block-lb-7 block-mb-11 ptrbl-40p">
            <h4 class="text-center mb-10p"> Please Select Your Location </h4>
            <form name="frmExplore" id="frmExplore" method="post" action="{{ path('home_explore') }}">
                <table class="mt-30p">
                    <tr>
                        <td class="text-right sb-none"> <span class="icon-map-marker"></span> </td>
                        <td>
                            <select class="" name="explore_district" id="explore_district">
                                {%for district in app_web_user.getDistricts() %}
                                    <option {% if district.getId() != 35 %}disabled=""{% endif %} {% if district.getId() == 35 %}selected=""{% endif %} value="{{ district.getId() }}"> {{ district.getName() }} </option>
                                {% endfor %}
                            </select>
                            {% if app_web_user.getDistricts()|length == 1 %}
                                <span class="small-text-mmz"> Sorry!,  Now available at {{ districts[0].getName() }} only. </span>
                            {% endif %}
                            <script type="text/javascript">
                                $('#explore_district').on('change', function(){
                                    $.ajax({
                                       url: '{{ path('home_explore_regions') }}',
                                       method: 'POST',
                                       data: 'district='+$('#explore_district').val(),
                                       success: function(resp){
                                           $('#explore_region').html(resp);
                                       }
                                    });
                                });
                                $('#explore_district').trigger('change');
                            </script>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right sb-none"> <span class="icon-map-marker"></span> </td>
                        <td>
                            <select class="" name="explore_region" id="explore_region">

                            </select>
                        </td>
                    </tr>
                    <tr>
                            <td class="text-right">  </td>
                        <td class="pt-20p">
                            <button type="submit" name="btnSubmit" class="first-go-button">
                                Explore <span class="icon-arrow-right"></span>
                            </button> 
                            <a href="javascript:void(0);" class="small-text-mmz skip-close ml-20p"> Skip & continue </a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </section>
    <script type="text/javascript">
        $('#frmExplore').on('submit', function(){
            var cookieName = 'region';
            var cookieValue = $('#explore_region').val();
            var myDate = new Date();
            myDate.setMonth(myDate.getMonth() + 12);
            document.cookie = cookieName +"=" + cookieValue + ";expires=" + myDate 
                          + ";domain=momooz.com;path=/"; 
        });
        
        $('.skip-close').on('click', function(){
            {% if defaultRegion %}
                var cookieName = 'region';
                var cookieValue = '{{ defaultRegion.getId() }}';
                var myDate = new Date();
                myDate.setMonth(myDate.getMonth() + 12);
                document.cookie = cookieName +"=" + cookieValue + ";expires=" + myDate 
                              + ";domain=momooz.com;path=/"; 
            {% endif %}
                
            window.location = '{{ path('home_explore_skip') }}';
        });
        
        var region = getCookie('region');
        if(region){
            $('.first-location-popup').hide();
            $.ajax({
                url: '{{ path('home_set_region') }}',
                method: 'POST',
                data: 'region='+region
            });
        }
    </script>        
    
    <!-- Common Popup -->
    <div class="comn_popUp">
        <div class="contentPopUp">
            <span> Successfully added to wishlist ! </span>
        </div>
    </div>
    
    
<div class="cheakout_popup prl-20p ptb-10p sb-ptb-5p va-middle {% if app_web_user.getCart().getItems()|length > 0 %}active{% endif %}">
    <div class="center-1200px text-right sb-text-center">
        <div class="va-middle white-txt dispaly-inline-block prl-15p cartText">
            <a href="{{ path('cart_page') }}" class="dispaly-inline-block white-txt">
                <span class="dispaly-inline-block icon-cart-arrow-down mr-5p"></span> <span class="count">{{ app_web_user.getCart().getItems().count() }}</span> Item(s) 
            </a>
            <!--<span class="dispaly-inline-block icon-inr mr-5p ml-15p"></span> 3250/-->
          
        </div>
        <a href="{% if app.user %}{{ path('place_order') }}{% else %}{{ path('anon_cart', {'id': app_web_user.getCart().getId()}) }}{% endif %}">
            <span class="dispaly-inline-block checkoutBut sb-mt-5p text-center br-6p va-middle ptb-10p prl-20p pointer-csr">
                Checkout
                <span class="dispaly-inline-block icon-arrow-right black-txt white-txt mr-5p"></span>
            </span>
        </a>
    </div>
</div>
   
   
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109580925-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109580925-1');
</script>
    
</body>

</html>
