{% extends "AppWebBundle::layout.html.twig" %}

{% block title %}Online Community of Stores - Account/Orders/Address{% endblock %}

{% block styleseet %}

{% endblock %}

{% block content %}
    <div class="center-1200px breadcrumb ptb-15p uppercase-txt" style="position: relative;">
        <a href="{{ path('home') }}">Home</a>  - <a href="{{ path('account_home') }}">Account</a> - <a href="{{ path('address_page') }}">Addresses</a> - Form
        
    </div>
    <section class="center-1200px block-fl-cary ptb-25p va-top text-center add-address-user">
	<h3 class="text-center"> Add New Address </h3>
    
        <div class="block-6 block-lb-8 block-mb-11 brd-L-1p mt-20p ptrbl-25p br-6p text-left">
            <form name="frmAddress" id="frmAddress" method="post" action="">
                {{ form_widget(form) }}
                {% if app.request.get('cart') %}
                    <input type="hidden" name="from_cart" value="{{ app.request.get('cart') }}" />
                {% endif %}
                <input class="mt-15p" type="submit" value="Save Address">
            </form>
            <script type="text/javascript">
                $('#frmAddress').validator();
            </script>
        </div>
    </section>
{% endblock%}

{% block javascript %}

{% endblock %}