{% extends "AppWebBundle::layout.html.twig" %}

{% block title %}Online Community of Stores - Cart{% endblock %}

{% block styleseet %}

{% endblock %}

{% block content %}
    <div class="center-1200px breadcrumb ptb-15p uppercase-txt">
	<a href="{{ path('home') }}">Home</a> - Cart Page
    </div>
    <section class="center-1200px cart-page ptb-20p">
        <h3> Cart Page </h3>
        <form name="frmCart" method="post" action="{{ path('place_order') }}" > 
            <table class="mt-15p cart-table">
                <tr>
                    <th colspan="2">Item</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Net Price</th>
                    <th>Actions</th>
                </tr>
                {% set totalPrice = 0 %}
                {% if app_web_user.getCart().getItems()|length == 0 %}
                    <tr>
                        <td colspan="6">
                            <div style="color: #aca8b0; font-size: 13px; text-align: center; width: 100%;"> No Items found in your cart. </div>
                        </td>
                    </tr>
                {% endif %}    
                {% for item in app_web_user.getCart().getItems() %}
                    <tr>
                        <td> <img src="{{ item.getEntry().getItem().getRealPicturePath() | imagine_filter('item_thumb') }}" width="60" class="dispaly-inline-block" alt="product name"> </td>
                        <td> 
                            <a href="{{ path('item_page', {'id': item.getEntry().getId()}) }}">  
                                {{ item.getEntry().getItem().getName() }}
                                {% if item.getEntry().getVariant() %}
                                    , {{ item.getEntry().getVariant().getValue() }}
                                {% endif %}
                            </a>  
                        </td>
                        <td> {{ item.getQuantity() }} </td>
                        <td>{{ item.getPrice() }}</td>
                        <td> <span class="icon-inr"></span> {{ item.getQuantity()*item.getPrice() }}/- </td>
                        <td class="editcary-td">
                            <a href="{{ path('cart_delete', {'id': item.getId()}) }}"> <span class="icon-trash-1 ml-15p" title="Delete"></span> </a>
                        </td>
                    </tr>
                    {% set totalPrice = totalPrice + (item.getQuantity()*item.getPrice()) %}
                {% endfor %}
                <tr>
                    <td colspan="5" class="totalcart-rate text-right">  
                        {% if total_rewards > 0 and (totalPrice - reward_money) > 0 %}
                            <div style="color: #CCC; font-size:12px;">
                                <input type="checkbox" value="1" name="use_reward" id="use_reward" /> You have reward money of <b>Rs.{{ reward_money }}</b>.Do yopu want to use that in this purchase?
                                <input type="hidden" name="reward_points_used" value="{{ total_rewards }}" />
                                <input type="hidden" name="reward_money" value="{{ reward_money }}" />
                            </div>
                        {% endif %}
                        <input type="hidden" name="totalPrice" value="{{ totalPrice }}" />
                        Total Price : <span class="icon-inr"></span> <span id="cart-price">{{ totalPrice }}</span>  
                    </td>
                </tr>
            </table>
            <div class="full-width mt-10p ptb-20p text-right button-cart">
                <a href="{{ path('home') }}"><button class="momz-button" name=""> <span class="icon-angle-left"></span>  Continue Shopping </button></a>
                {% if app_web_user.getCart().getItems()|length > 0 %}
                    {% if app.user %}
                        <button type="submit" class="momz-button ml-10p active" name=""> Place Order <span class="icon-arrow-right"></span> </button>
                    {% else %}
                        <a href="{{ path('login_page')~'?cart='~app_web_user.getCart().getId() }}"> <button class="momz-button ml-10p active" name=""> Place Order <span class="icon-arrow-right"></span> </button> </a>
                    {% endif %}
                {% endif %}
            </div>
        </form>
    </section>
    <script type="text/javascript">
        $('#use_reward').on('change', function(){
            if($(this).is(':checked')){
                var totalPrice = parseFloat('{{ totalPrice }}') - parseFloat('{{ reward_money }}');
            } else {
                var totalPrice = parseFloat('{{ totalPrice }}');
            }
            $('#cart-price').html(totalPrice);
        });
    </script>
{% endblock%}

{% block javascript %}
    
{% endblock %}