{% extends "AppWebBundle::layout.html.twig" %}

{% block title %}Online Community of Stores - Account{% endblock %}

{% block styleseet %}

{% endblock %}

{% block content %}
    <div class="center-1200px breadcrumb ptb-15p uppercase-txt">
            <a href="{{ path('home') }}">Home</a>  -  User - Account
    </div>

    <section class="center-1200px block-fl-cary va-top">
        {% include 'AppWebBundle:Account:menu.html.twig' %}
        <div class="block-9 mb-pl2 pl-30p userRight ptb-20p border_left block-mb-12 mb-text-left">
          
           <div class="block-7 block-mb-12" style="display:none;">
            <div class="dashshadowCary">
                <div class="full-width ptb-5p head text-center">
                    My Order
                </div>
                <div class="full-width pt-10p prl-10p text-center">
                    <div class="lv prl-15p">
                       <a href="">
                        <h3> 02 </h3>
                        <p style="color:#666;" class="mt-0p"> Pending </p>
                        </a>
                    </div>
                    <div class="lv prl-15p">
                       <a href="">
                        <h3> 02 </h3>
                        <p style="color:#666;" class="mt-0p"> Delivered </p>
                        </a>
                    </div>
                    <div class="lv prl-15p">
                       <a href="">
                        <h3> 02 </h3>
                        <p style="color:#666;" class="mt-0p"> Cancelled </p>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="dashshadowCary">
                <div class="full-width ptb-5p head text-center">
                   Reward
                </div>
                <div class="full-width pt-10p prl-10p text-center">
                    <div class="lv prl-15p">
                       <a href="">
                        <h3> 02 </h3>
                        <p style="color:#666;" class="mt-0p"> Credits </p>
                        </a>
                    </div>
                    <div class="lv prl-15p">
                       <a href="">
                        <h3> 02 </h3>
                        <p style="color:#666;" class="mt-0p"> Debits </p>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="dashshadowCary wishlist">
                <div class="full-width ptb-5p head text-center">
                   <a href=""> Wishlist </a>
                </div>
                <p style="color:#666;text-align:center;" class="prl-15p"> No Items found in your wishlist  </p>
                <div class="full-width pt-10p prl-5p text-center">
                    <div class="lv prl-15p">
                        <Img src="../images/product.png" class="image-fw" alt="user image"  title="product name">
                    </div>
                    <div class="lv prl-15p">
                       <a href="" title="product Name">
                            <Img src="../images/product.png" class="image-fw" alt="user image">
                        </a>
                    </div>
                    <div class="lv prl-15p">
                       <a href="" title="product Name">
                            <Img src="../images/product.png" class="image-fw" alt="user image">
                        </a>
                    </div>
                    <div class="lv prl-15p">
                       <a href="" title="product Name">
                            <Img src="../images/product.png" class="image-fw" alt="user image">
                        </a>
                    </div>
                </div>
            </div>
            
            
        </div>
            <div class="block-5 block-lb-12">
                    <div class="block-12">
                    <div class="block-3">
                            <Img src="{{ app.user.getRealPicturePath() | imagine_filter('user') }}" class="image-fw" alt="user image">
                    </div>
                    <div class="block-8 pl-15p">
                            <h4> {{ app.user.getFullname() }} </h4> 
                        <p>
                        <span class="icon-envelope-o"></span> {{ app.user.getEmail() }} <br/>
                         <span class="icon-phone"></span> {{ app.user.getPhone() }} <br/> </p>

                         <a href="{{ path('profile_page') }}" class="small-text-mmz"> Edit Profile </a>
                    </div>
                </div>
            </div>
        </div>
        
        
    </section>
{% endblock%}

{% block javascript %}

{% endblock %}