<div class="block-3 left-menu-user ptb-20p uppercase-txt block-mb-12">

    <!--<a href="{{ path('home') }}"> Home </a> -->
    <a href="{{ path('account_home') }}"> Dashboard </a> 
    <a href="{{ path('profile_page') }}"> Profile </a> 
    <a href="{{ path('address_page') }}"> Delivery Address </a> 
    <a href="{{ path('orders_page') }}"> My Orders </a> 
    <a href="{{ path('rewards_page') }}"> Rewards </a>
    <a href="{{ path('wishlist_page') }}"> Wishlist </a> 
    <a href="{{ path('cart_page') }}"> Cart </a>
    <a href="{{ path('report_page') }}"> Report </a>
    <a href="{{ path('app_front_consumer_logout') }}" class="logout"> Logout </a> 
</div>