{% extends "AppWebBundle::layout.html.twig" %}

{% block title %}Online Community of Stores - Account/Orders{% endblock %}

{% block styleseet %}

{% endblock %}

{% block content %}
    <div class="center-1200px breadcrumb ptb-15p uppercase-txt">
        <a href="{{ path('home') }}">Home</a>  - <a href="{{ path('account_home') }}">Account</a> - My Orders
    </div>

    <section class="user-order center-1200px mt-0p block-fl-cary va-top">

        {% include 'AppWebBundle:Account:menu.html.twig' %}

        <div class="block-9 mb-pl2 pl-30p userRight ptb-20p border_left block-mb-12 mb-text-left">
            {% set flashbag = app.session.flashBag.all %}
            {% if flashbag|length > 0 %}
                {% for type, messages in flashbag %}
                    {% for message in messages %}
                        <span class="message msg-{{ type }}">{{ message|raw }}</span>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            <style type="text/css">
                .my_orders {
                    border-color: #CCC;
                }
                .my_orders tr td, .my_orders tr th {
                    text-align: left;
                } 
            </style>
            <span>Pending to deliver</span>
            <table class="my_orders">
                <tr>
                    <th>Order Id</th>
                    <th>Ordered On</th>
                    <th>Total Items</th>
                    <th>Delivery Charge</th>
                    <th>Total Price</th>
                    <th>Status</th>
                    <th>Expected Delivery</th>
                </tr>
                {% if pending|length > 0 %}
                    {% for order in pending %}
                        <tr>
                            <td><a href="{{ path('order_detail_page', {'id': order.getId()}) }}">#{{ order.getId() }}</a></td>
                            <td>{{ order.getPurchasedOn()|date('d-M-Y h:i A') }}</td>
                            <td>{{ order.getItems()|length }}</td>
                            <td>{{ order.getDeliveryCharge() }}</td>
                            {% set total_amt = order.getTotalPrice() %}
                            {% if order.getRewardUse() %}
                                {% set total_amt = order.getTotalPrice() - order.getRewardUse().getMoney() + order.getDeliveryCharge() %}
                            {% endif %}
                            <td>{{ total_amt }}</td>
                            <td>{{ status[order.getStatus()] }}</td>
                            <td>
                                {% if order.getStatus() == 1 or order.getStatus() == 2 or order.getStatus() == 3 %}
                                    {{ order.getExpectedOn()|date('d-M-Y h:i A') }}
                                {% else %}
                                    None
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6" style="font-size:13px;color:#666;text-align: center;">No pending orders found.</td>
                    </tr>
                {% endif %}
            </table>
            <span>Delivered</span>
            <table class="my_orders">
                <tr>
                    <th>Order Id</th>
                    <th>Ordered On</th>
                    <th>Total Items</th>
                    <th>Delivery Charge</th>
                    <th>Total Price</th>
                    <th>Delivered On</th>
                </tr>
                {% if delivered|length > 0 %}
                    {% for order in delivered %}
                        <tr>
                            <td><a href="{{ path('order_detail_page', {'id': order.getId()}) }}">#{{ order.getId() }}</a></td>
                            <td>{{ order.getPurchasedOn()|date('d-M-Y h:i A') }}</td>
                            <td>{{ order.getItems()|length }}</td>
                            <td>{{ order.getDeliveryCharge() }}</td>
                            {% set total_amt = order.getTotalPrice() %}
                            {% if order.getRewardUse() %}
                                {% set total_amt = order.getTotalPrice() - order.getRewardUse().getMoney() %}
                            {% endif %}
                            <td>{{ total_amt }}</td>                     
                            <td>
                                {{ order.getDeliveredOn()|date('d-M-Y h:i A') }}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5" style="font-size:13px;color:#666;text-align: center;">No orders delivered yet.</td>
                    </tr>
                {% endif %}
            </table>
            <span>Cancelled</span>
            <table class="my_orders">
                <tr>
                    <th>Order Id</th>
                    <th>Ordered On</th>
                    <th>Total Items</th>
                    <th>Delivery Charge</th>
                    <th>Total Price</th>
                    <th>Cancelled On</th>
                </tr>
                {% if cancelled|length > 0 %}
                    {% for order in cancelled %}
                        <tr>
                            <td><a href="{{ path('order_detail_page', {'id': order.getId()}) }}">#{{ order.getId() }}</a></td>
                            <td>{{ order.getPurchasedOn()|date('d-M-Y h:i A') }}</td>
                            <td>{{ order.getItems()|length }}</td>
                            <td>{{ order.getDeliveryCharge() }}</td>
                            {% set total_amt = order.getTotalPrice() %}
                            {% if order.getRewardUse() %}
                                {% set total_amt = order.getTotalPrice() - order.getRewardUse().getMoney() %}
                            {% endif %}
                            <td>{{ total_amt }}</td>
                            <td>
                                {{ order.getCancelledOn()|date('d-M-Y h:i A') }}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5" style="font-size:13px;color:#666;text-align: center;">No orders cancelled yet.</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </section>
{% endblock%}

{% block javascript %}

{% endblock %}