{% extends "AppWebBundle::layout.html.twig" %}

{% block title %}Online Community of Stores - Cart{% endblock %}

{% block styleseet %}

{% endblock %}

{% block content %}
    <div class="center-1200px breadcrumb ptb-15p uppercase-txt">
	<a href="{{ path('home') }}">Home</a> - Place Order
    </div>
    <section class="center-1200px cart-page ptb-20p">
        <h3> Place Your Order </h3>
        <form name="frmOrderSubmit" id="frmOrderSubmit" method="post" action="{{ path('pay_order') }}" >
            <div class="block-12 mb-pl2 pl-30p ptb-20p block-mb-12 mb-text-left">
                {% set valid_addresses = 0 %}
                {% for address in app.user.getAddresses() %}
                    
                        {% set valid_addresses = valid_addresses + 1 %}
                        <div class="block-4 addresscary br-4p block-lb-6 block-sb-12 text-center">
                            <div class="block-11  ptrbl-20p brd-L-1p text-left">
                                <h3><input type="radio" class="addr_radio" required="" {% if address.getDefault() %}checked=""{% endif %} name="address" value="{{ address.getId() }}" />  {{ app.user.getFullname() }}  </h3>
                                {{ address.getHouse() }}, {{ address.getStreet() }}, {{ address.getLandmark() }}, {{ address.getCity() }}
                                <br/>Pin: {{ address.getPin() }},  {{ address.getState() }}
                                <br/>
                                Ph: {{ app.user.getPhone() }}
                                {% if app_web_user.isAddressValidToDeliver(address) == false %}
                                    <br/>
                                    <span>Delivery not available to this pincode - <a href="{{ path('address_form', {'id': address.getId()}) }}?cart=1">Change Pincode</a></span>
                                {% endif %}
                            </div>
                        </div>
                {% endfor %}
                {% if valid_addresses == 0 %}
                    No Valid Delivery address found.Please add one and try again...
                {% endif %}
                {% if valid_addresses == 1 %}
                    <script type="text/javascript">
                        $('#frmOrderSubmit').find('.addr_radio').eq(0).attr('checked', 'checked');
                    </script>
                {% endif %}
            </div>
            <div class="full-width mt-10p ptb-20p text-right button-cart">
                {% if app.request.get('use_reward') %}
                    <input type="hidden" value="1" name="use_reward" />
                    <input type="hidden" name="reward_points_used" value="{{ total_rewards }}" />
                    <input type="hidden" name="reward_money" value="{{ reward_money }}" />
                {% endif %}
                {% if valid_addresses == 0 %}
                    <a href="{{ path('address_form', {'id': 0}) }}?cart=1"><button type="button" class="momz-button ml-10p active" name=""> Add delivery address </button></a>
                {% else %}
                    <button type="submit" class="momz-button ml-10p" name="cod"> Cash on Delivery <span class="icon-arrow-right"></span> </button>
                    <button type="submit" class="momz-button ml-10p active" name="pay"> Proceed to Payment <span class="icon-arrow-right"></span> </button>
                {% endif %}
            </div>
        </form>
    </section>
{% endblock%}

{% block javascript %}

{% endblock %}