{% set flashbag = app.session.flashBag.all %}
{% if flashbag|length > 0 %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header" style="margin: 0 !important;">
                {% for type, messages in flashbag %}
                    {% for message in messages %}
                        {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
                        <div class="alert alert-{{ type }}">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong>{{ type | capitalize }}!</strong>
                            {{ message | trans | raw }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div id="tree"></div>
{{ form_widget(form) }}
<script type="text/javascript">
    function getTree() {
        var tree = {{ treeData|raw }};

        return tree;
    }
    $(document).ready(function () {
        $('#tree').treeview({data: getTree(), onNodeSelected: function(event, data){
            $.ajax({
                url: '{{ path('entry_items') }}?cat='+data.id,
                method: 'get',
                success: function(resp){
                    if(resp != ''){
                       $("#{{ form.item.vars.id }}").html(resp);
                    } else {
                        alert('There is no items in "'+data.text+'" category');
                    }
                }
            });
        }});

        $("#{{ form.item.vars.id }}").on('change', function(){
            {#
            $("#{{ form.state.vars.id }}").val("");
            $(this).parents('form').eq(0).submit();
            #}
        });
    });
</script>       
{% if form.price is defined %}
    <script type="text/javascript">
        $(document).ready(function () {
            var commtype = parseInt($('#{{ form.commtype.vars.id }}').val());
            var commvalue = parseFloat($('#{{ form.commvalue.vars.id }}').val());
            $("#{{ form.price.vars.id }}").on('keyup', function(){
                if($(this).val() == '') {
                    $(this).val('0');
                }
                var price = parseFloat($(this).val());
                var actual_price = parseFloat($(this).val());
                if(commtype == 1){
                    actual_price = price + commvalue;
                } else if(commtype == 2){
                    actual_price = price + parseFloat((commvalue*price)/100);
                }
                $("#{{ form.actualPrice.vars.id }}").val(actual_price);
                
                if($("#{{ form.mrp.vars.id }}").val() < $("#{{ form.actualPrice.vars.id }}").val()){
                    $("#{{ form.price.vars.id }}").parents('form-group').addClass('has-error');
                    alert('Actual price cannot be greater than MRP.');
                    $("#{{ form.price.vars.id }}").focus();
                    $("#{{ form.price.vars.id }}").val('0');
                    $("#{{ form.price.vars.id }}").trigger('keyup');
                } else {
                    $("#{{ form.price.vars.id }}").parents('form-group').removeClass('has-error');
                }
            });
            
            $("#{{ form.keywords.vars.id }}").tokenInput("{{ path('keyword_search') }}", {
                theme: "facebook",
                allow_new: true
                {% if keyword_values is defined %},prePopulate: {{ keyword_values|raw }}{% endif %}
            });
            
            $("#{{ form.offers.vars.id }}").tokenInput("{{ path('offer_search') }}", {
                theme: "facebook"
                {% if offer_values is defined %},prePopulate: {{ offer_values|raw }}{% endif %}
            });

            $('#{{ form.keywords.vars.id }}').addClass('token-input-real-field');
        });
    </script>
{% endif %}