{% extends "AppWebBundle::layout.html.twig" %}

{% block title %}Online Community of Stores{% endblock %}

{% block styleseet %}

{% endblock %}

{% block content %}
    <section class="first-location-popup fixed-pos white-bg full-width Screen-height top-pos left-pos z10 transition_05s">
        <div class="select-alocation absolute-middle absolute-pos br-8p overflow-hidden bs-nrmls block-5 block-lb-7 block-mb-11 ptrbl-40p">
            <h4 class="text-center mb-10p"> Please Select Your Location </h4>
            <form name="frmExplore" id="frmExplore" method="post" action="{{ path('home_explore') }}">
                <table class="mt-30p">
                    <tr>
                        <td class="text-right sb-none"> <span class="icon-map-marker"></span> </td>
                        <td>
                            <select class="" name="region" id="region">
                                {%for region in regions%}
                                    <option {% if region.getId() == app.request.get('region') %}selected=""{% endif %} value="{{ region.getId() }}"> {{ region.getRegionName() }} </option>
                                {% endfor %}
                            </select>
                            {% if regions|length == 1 %}
                                <span class="small-text-mmz"> Sorry!,  Now available at {{ regions[0].getRegionName() }} only. </span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right sb-none"> <span class="icon-map-marker"></span> </td>
                        <td>
                            <select class="" name="location" id="location">
                                <option value="0"> Select a Place </option>
                                {% for loc in locations %}
                                    <option value="{{ loc.getId() }}"> {{ loc.getLocalName() }} </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">  </td>
                        <td class="pt-20p">
                            <button type="submit" name="btnSubmit" class="first-go-button">
                                Explore <span class="icon-arrow-right"></span>
                            </button> 
                            <a href="{{ path('home_explore_skip') }}" class="small-text-mmz ml-20p"> Skip & continue </a>
                        </td>
                    </tr>
                </table>
                <script type="text/javascript">
                    $('#region').on('change', function() {
                        $('#frmExplore').submit();
                    });
                </script>
            </form>
        </div>
    </section>
{% endblock%}

{% block javascript %}

{% endblock %}