{% extends "AppWebBundle::layout.html.twig" %}

{% block title %}Online Community of Stores{% endblock %}

{% block styleseet %}

{% endblock %}

{% block content %}
    <section class="center-1200px block-fl-cary slider-offer-cary va-top">
        <div class="block-2 lb-none">
            {{ render(controller('AppWebBundle:Item:mostPurchased')) }}
        </div>
        <div class="block-8 relative-pos block-lb-10 block-mb-12">
            {{ render(controller('AppWebBundle:Component:banner')) }}
        </div>
        <div class="block-2 block-lb-2 mb-none">
            <div class="full-width">
                <img src="{{ asset('bundles/appweb/images/offer-1.jpg') }}" class="image-fw" alt="offer">
            </div>
            <div class="full-width mt-15p">
                <img src="{{ asset('bundles/appweb/images/offer-2.jpg') }}" class="image-fw" alt="offer">
            </div>
        </div>
    </section>

    <section class="features-cary center-1200px mb-text-left block-fl-cary ptb-20p sb-mt-0p mt-40p va-top sb-none">
        <div class="block-3 sb-block-12">
            <div class="icon-show mb-none block-4 transition_05s overflow-hidden" style="background:#fd6260;">
                <img src="{{ asset('bundles/appweb/images/icons/logo-icon.svg') }}" class="image-fw" alt="momooz image">
            </div>
            <div class="block-8 block-mb-11 pl-15p pt-20p">
                <h4> One stop shop </h4>
                <em>for all home needs</em>
            </div>
        </div>
        <div class="block-3 pl-20p sb-block-12">
            <div class="icon-show block-4 mb-none  transition_05s overflow-hidden" style="background:#7f93b0;">
                <img src="{{ asset('bundles/appweb/images/icons/logo-icon.svg') }}" class="image-fw" alt="momooz image">
            </div>
            <div class="block-8 block-mb-11 pl-15p pt-20p">
                <h4> Quick Delivery</h4>
                <em>Quick Delivery</em>
            </div>
        </div>
        <div class="block-3 pl-20p sb-block-12">
            <div class="icon-show block-4 mb-none transition_05s overflow-hidden" style="background:#78aa42;">
                <img src="{{ asset('bundles/appweb/images/icons/logo-icon.svg') }}" class="image-fw" alt="momooz image">
            </div>
            <div class="block-8 block-mb-11 pl-15p pt-20p">
                <h4> Choose a recipe  </h4>
                <em>choose the items</em>
            </div>
        </div>
        <div class="block-3 pl-20p sb-block-12">
            <div class="icon-show block-4 mb-none transition_05s overflow-hidden" style="background:#ad78c9;">
                <img src="{{ asset('bundles/appweb/images/icons/logo-icon.svg') }}" class="image-fw" alt="momooz image">
            </div>
            <div class="block-8 block-mb-11 pl-15p pt-20p">
                <h4> Buy Fresh </h4>
                <em> eat fresh</em>
            </div>
        </div>
    </section>

    <section class="full-width by-product-home mt-15p ptb-20p">
        {{ render(controller('AppWebBundle:Category:popular')) }}
    </section>

    <section class="whats-new center-1200px block-fl-cary ptb-20p mt-10p mb-20p">
        <h3 class="text-center mb-20p"> What's New  </h3>
        {{ render(controller('AppWebBundle:Item:new')) }}
    </section>

    {#<section class="whats-new center-1200px block-fl-cary ptb-20p mt-10p mb-20p">
        <h3 class="text-center mb-20p"> Top Offers  </h3>
        <div class="block-3 ptrbl-5p mt-10p block-mb-6 sb-block-12">
            <a href="">
                <div class="block-98 brd-L-1p br-4p center-pos prl-20p ptb-25p text-center">
                    <div class="block-6">
                        <img src="{{ asset('bundles/appweb/images/product.png') }}" class="image-fw" alt="momooz product image">
                    </div>
                    <div class="block-8 capitalize-txt mt-20p">
                        india gate premium basmati rice 
                        <br>
                        <strong>RS. 50/kg</strong>
                    </div>

                </div>
            </a>
        </div>
        <div class="block-3 ptrbl-5p mt-10p block-mb-6 sb-block-12">
            <a href="">
                <div class="block-98 brd-L-1p br-4p center-pos prl-20p ptb-25p text-center">
                    <div class="block-6">
                        <img src="{{ asset('bundles/appweb/images/product.png') }}" class="image-fw" alt="momooz product image">
                    </div>
                    <div class="block-8 capitalize-txt mt-20p">
                        india gate premium basmati rice 
                        <br>
                        <strong>RS. 50/kg</strong>
                    </div>

                </div>
            </a>
        </div>
        <div class="block-3 ptrbl-5p mt-10p block-mb-6 sb-block-12">
            <a href="">
                <div class="block-98 brd-L-1p br-4p center-pos prl-20p ptb-25p text-center">
                    <div class="block-6">
                        <img src="{{ asset('bundles/appweb/images/product.png') }}" class="image-fw" alt="momooz product image">
                    </div>
                    <div class="block-8 capitalize-txt mt-20p">
                        india gate premium basmati rice 
                        <br>
                        <strong>RS. 50/kg</strong>
                    </div>

                </div>
            </a>
        </div>
        <div class="block-3 ptrbl-5p mt-10p block-mb-6 sb-block-12">
            <a href="">
                <div class="block-98 brd-L-1p br-4p center-pos prl-20p ptb-25p text-center">
                    <div class="block-6">
                        <img src="{{ asset('bundles/appweb/images/product.png') }}" class="image-fw" alt="momooz product image">
                    </div>
                    <div class="block-8 capitalize-txt mt-20p">
                        india gate premium basmati rice 
                        <br>
                        <strong>RS. 50/kg</strong>
                    </div>

                </div>
            </a>
        </div>
    </section>#}
{% endblock%}

{% block javascript %}

{% endblock %}