{% extends "AppWebBundle::layout.html.twig" %}

{% block title %}Online Community of Stores{% endblock %}

{% block styleseet %}

{% endblock %}

{% block content %}
    <section class="center-1200px block-fl-cary slider-offer-cary va-top">
        <div class="block-2 lb-none">
            <h5 class="black-txt ptb-5p head relative-pos"> <span> most purchased </span> </h5>
            <div class="full-width block-fl-cary mt-15p">
                <a href="">
                    <div class="block-4"> <img src="{{ asset('bundles/appweb/images/product.png') }}" class="image-fw" alt="momooz product"> </div>
                    <div class="block-8 text-center">
                        <div class="block-10 center-pos text-left">
                            <h5 class="mt-10p"> Tata Sampann Toor Dal </h5>
                            <h5 class="mt-10p">RS. 195/KG </h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="full-width block-fl-cary mt-40p">
                <a href="">
                    <div class="block-4"> <img src="{{ asset('bundles/appweb/images/product.png') }}" class="image-fw" alt="momooz product"> </div>
                    <div class="block-8 text-center">
                        <div class="block-10 center-pos text-left">
                            <h5 class="mt-10p"> Tata Sampann Toor Dal </h5>
                            <h5 class="mt-10p">RS. 195/KG </h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="full-width block-fl-cary mt-40p">
                <a href="">
                    <div class="block-4"> <img src="{{ asset('bundles/appweb/images/product.png') }}" class="image-fw" alt="momooz product"> </div>
                    <div class="block-8 text-center">
                        <div class="block-10 center-pos text-left">
                            <h5 class="mt-10p"> Tata Sampann Toor Dal </h5>
                            <h5 class="mt-10p">RS. 195/KG </h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="block-8 relative-pos block-lb-10 block-mb-12">
            {{ render(controller('AppWebBundle:Component:banner')) }}
        </div>
        <div class="block-2 block-lb-2 mb-none">
            <div class="full-width">
                <img src="{{ asset('bundles/appweb/images/offer-1.jpg') }}" class="image-fw" alt="offer">
            </div>
            <div class="full-width mt-15p">
                <img src="{{ asset('bundles/appweb/images/offer-2.jpg') }}" class="image-fw" alt="offer">
            </div>
        </div>
    </section>

    <section class="features-cary center-1200px mb-text-left block-fl-cary ptb-20p sb-mt-0p mt-40p va-top">
        <div class="block-3 sb-block-12">
            <div class="icon-show mb-none block-4 transition_05s overflow-hidden" style="background:#fd6260;">
                <img src="{{ asset('bundles/appweb/images/icons/logo-icon.svg') }}" class="image-fw" alt="momooz image">
            </div>
            <div class="block-8 block-mb-11 pl-15p pt-20p">
                <h4> One stop shop </h4>
                <em>for all home needs</em>
            </div>
        </div>
        <div class="block-3 pl-20p sb-block-12">
            <div class="icon-show block-4 mb-none  transition_05s overflow-hidden" style="background:#7f93b0;">
                <img src="{{ asset('bundles/appweb/images/icons/logo-icon.svg') }}" class="image-fw" alt="momooz image">
            </div>
            <div class="block-8 block-mb-11 pl-15p pt-20p">
                <h4> Quick Delivery</h4>
                <em>Quick Delivery</em>
            </div>
        </div>
        <div class="block-3 pl-20p sb-block-12">
            <div class="icon-show block-4 mb-none transition_05s overflow-hidden" style="background:#78aa42;">
                <img src="{{ asset('bundles/appweb/images/icons/logo-icon.svg') }}" class="image-fw" alt="momooz image">
            </div>
            <div class="block-8 block-mb-11 pl-15p pt-20p">
                <h4> Choose a recipe  </h4>
                <em>choose the items</em>
            </div>
        </div>
        <div class="block-3 pl-20p sb-block-12">
            <div class="icon-show block-4 mb-none transition_05s overflow-hidden" style="background:#ad78c9;">
                <img src="{{ asset('bundles/appweb/images/icons/logo-icon.svg') }}" class="image-fw" alt="momooz image">
            </div>
            <div class="block-8 block-mb-11 pl-15p pt-20p">
                <h4> Buy Fresh </h4>
                <em> eat fresh</em>
            </div>
        </div>
    </section>

    <section class="full-width by-product-home mt-15p ptb-20p">
        <div class="center-1200px block-fl-cary">
            <div class="block-3 pointer-csr mt-10p block-mb-6 sb-block-12">
                <div class="block-98 center-pos relative-pos">
                    <img src="{{ asset('bundles/appweb/images/bottom-products.jpg') }}" class="image-fw" alt="momooz product">
                    <div class="block-9 absolute-centre absolute-pos outer-div ptrbl-5p">
                        <div class="block-12 inner-div ptrbl-10p text-center">
                            <h4> groceries </h4>
                            <span class="how-product"> - 120 Products - </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-3 pointer-csr mt-10p block-mb-6 sb-block-12">
                <div class="block-98 center-pos relative-pos">
                    <img src="{{ asset('bundles/appweb/images/poultry.jpg') }}" class="image-fw" alt="momooz product">
                    <div class="block-9 absolute-centre absolute-pos outer-div ptrbl-5p">
                        <div class="block-12 inner-div ptrbl-10p text-center">
                            <h4> poultry </h4>
                            <span class="how-product"> - 100 Products - </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-3 pointer-csr mt-10p block-mb-6 sb-block-12">
                <div class="block-98 center-pos relative-pos">
                    <img src="{{ asset('bundles/appweb/images/recipes.jpg') }}" class="image-fw" alt="momooz product">
                    <div class="block-9 absolute-centre absolute-pos outer-div ptrbl-5p">
                        <div class="block-12 inner-div ptrbl-10p text-center">
                            <h4> recipes</h4>
                            <span class="how-product"> - 80 Products - </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-3 pointer-csr mt-10p block-mb-6 sb-block-12">
                <div class="block-98 center-pos relative-pos">
                    <img src="{{ asset('bundles/appweb/images/household.jpg') }}" class="image-fw" alt="momooz product">
                    <div class="block-9 absolute-centre absolute-pos outer-div ptrbl-5p">
                        <div class="block-12 inner-div ptrbl-10p text-center">
                            <h4> household </h4>
                            <span class="how-product"> - 30 Products - </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="whats-new center-1200px block-fl-cary ptb-20p mt-10p mb-20p">
        <h3 class="text-center mb-20p"> What's New  </h3>
        <div class="block-3 ptrbl-5p mt-10p block-mb-6 sb-block-12">
            <a href="">
                <div class="block-98 brd-L-1p br-4p center-pos prl-20p ptb-25p text-center">
                    <div class="block-6">
                        <img src="{{ asset('bundles/appweb/images/product.png') }}" class="image-fw" alt="momooz product image">
                    </div>
                    <div class="block-8 capitalize-txt mt-20p">
                        india gate premium basmati rice 
                        <br>
                        <strong>RS. 50/kg</strong>
                    </div>

                </div>
            </a>
        </div>
        <div class="block-3 ptrbl-5p mt-10p block-mb-6 sb-block-12">
            <a href="">
                <div class="block-98 brd-L-1p br-4p center-pos prl-20p ptb-25p text-center">
                    <div class="block-6">
                        <img src="{{ asset('bundles/appweb/images/product.png') }}" class="image-fw" alt="momooz product image">
                    </div>
                    <div class="block-8 capitalize-txt mt-20p">
                        india gate premium basmati rice 
                        <br>
                        <strong>RS. 50/kg</strong>
                    </div>

                </div>
            </a>
        </div>
        <div class="block-3 ptrbl-5p mt-10p block-mb-6 sb-block-12">
            <a href="">
                <div class="block-98 brd-L-1p br-4p center-pos prl-20p ptb-25p text-center">
                    <div class="block-6">
                        <img src="{{ asset('bundles/appweb/images/product.png') }}" class="image-fw" alt="momooz product image">
                    </div>
                    <div class="block-8 capitalize-txt mt-20p">
                        india gate premium basmati rice 
                        <br>
                        <strong>RS. 50/kg</strong>
                    </div>

                </div>
            </a>
        </div>
        <div class="block-3 ptrbl-5p mt-10p block-mb-6 sb-block-12">
            <a href="">
                <div class="block-98 brd-L-1p br-4p center-pos prl-20p ptb-25p text-center">
                    <div class="block-6">
                        <img src="{{ asset('bundles/appweb/images/product.png') }}" class="image-fw" alt="momooz product image">
                    </div>
                    <div class="block-8 capitalize-txt mt-20p">
                        india gate premium basmati rice 
                        <br>
                        <strong>RS. 50/kg</strong>
                    </div>

                </div>
            </a>
        </div>
    </section>





    <section class="whats-new center-1200px block-fl-cary ptb-20p mt-10p mb-20p">
        <h3 class="text-center mb-20p"> Top Offers  </h3>
        <div class="block-3 ptrbl-5p mt-10p block-mb-6 sb-block-12">
            <a href="">
                <div class="block-98 brd-L-1p br-4p center-pos prl-20p ptb-25p text-center">
                    <div class="block-6">
                        <img src="{{ asset('bundles/appweb/images/product.png') }}" class="image-fw" alt="momooz product image">
                    </div>
                    <div class="block-8 capitalize-txt mt-20p">
                        india gate premium basmati rice 
                        <br>
                        <strong>RS. 50/kg</strong>
                    </div>

                </div>
            </a>
        </div>
        <div class="block-3 ptrbl-5p mt-10p block-mb-6 sb-block-12">
            <a href="">
                <div class="block-98 brd-L-1p br-4p center-pos prl-20p ptb-25p text-center">
                    <div class="block-6">
                        <img src="{{ asset('bundles/appweb/images/product.png') }}" class="image-fw" alt="momooz product image">
                    </div>
                    <div class="block-8 capitalize-txt mt-20p">
                        india gate premium basmati rice 
                        <br>
                        <strong>RS. 50/kg</strong>
                    </div>

                </div>
            </a>
        </div>
        <div class="block-3 ptrbl-5p mt-10p block-mb-6 sb-block-12">
            <a href="">
                <div class="block-98 brd-L-1p br-4p center-pos prl-20p ptb-25p text-center">
                    <div class="block-6">
                        <img src="{{ asset('bundles/appweb/images/product.png') }}" class="image-fw" alt="momooz product image">
                    </div>
                    <div class="block-8 capitalize-txt mt-20p">
                        india gate premium basmati rice 
                        <br>
                        <strong>RS. 50/kg</strong>
                    </div>

                </div>
            </a>
        </div>
        <div class="block-3 ptrbl-5p mt-10p block-mb-6 sb-block-12">
            <a href="">
                <div class="block-98 brd-L-1p br-4p center-pos prl-20p ptb-25p text-center">
                    <div class="block-6">
                        <img src="{{ asset('bundles/appweb/images/product.png') }}" class="image-fw" alt="momooz product image">
                    </div>
                    <div class="block-8 capitalize-txt mt-20p">
                        india gate premium basmati rice 
                        <br>
                        <strong>RS. 50/kg</strong>
                    </div>

                </div>
            </a>
        </div>
    </section>


    <section class="first-location-popup fixed-pos white-bg full-width Screen-height top-pos left-pos z10 transition_05s">
        <div class="select-alocation absolute-middle absolute-pos br-8p overflow-hidden bs-nrmls block-5 block-lb-7 block-mb-11 ptrbl-40p">
            <h4 class="text-center mb-10p"> Please Select Your Location </h4>
            <form action="">
                <table class="mt-30p">
                    <tr>
                        <td class="text-right sb-none"> <span class="icon-map-marker"></span> </td>
                        <td>
                            <select class="" name="">
                                <option> Kozhikode </option>
                            </select>
                            <span class="small-text-mmz"> Sorry!,  Now available at Kozhikode only. </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right sb-none"> <span class="icon-map-marker"></span> </td>
                        <td>
                            <select class="" name="">
                                <option> Select a Place </option>
                                <option> Westhill </option>
                                <option> Feroke </option>
                                <option> Mavoor Road </option>
                                <option> Balussery </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">  </td>
                        <td class="pt-20p">
                            <button class="first-go-button">
                                Explore <span class="icon-arrow-right"></span>
                            </button> 
                            <a class="small-text-mmz skip-close ml-20p"> Skip & continue </a>

                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </section>
{% endblock%}

{% block javascript %}

{% endblock %}