{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.gender) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.email) }}        
        {{ form_row(form.status) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.images) }}
        {% if form.addresses|length > 0 %}
            {% for address in form.addresses %}
                {{ form_widget(address) }}
            {% endfor %}
        {% else %}
            {{ form_widget(form.addresses.vars.prototype) }}
        {% endif %}
    </div>
</div>
{{ form_widget(form._token) }}
<script type="text/javascript">
    $(document).ready(function () {
        $("#{{ form.images.vars.id }}").imageUploader({
            multiple: false
        });
    });
</script>