{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div id="tree"></div>
{{ form_widget(form) }}
<script type="text/javascript">
    function getTree() {
        var tree = {{ treeData|raw }};
        
        return tree;
    }
    
    $(document).ready(function () {
        $("#{{ form.keywords.vars.id }}").tokenInput("{{ path('keyword_search') }}", {
            theme: "facebook",
            allow_new: true
            {% if keyword_values is defined %},prePopulate: {{ keyword_values|raw }}{% endif %}
        });
        
        $('#{{ form.keywords.vars.id }}').addClass('token-input-real-field');
        
        $("#{{ form.regions.vars.id }}").tokenInput("{{ path('region_search') }}", {
            theme: "facebook"
            {% if region_values is defined %},prePopulate: {{ region_values|raw }}{% endif %}
        });

        $('#{{ form.regions.vars.id }}').addClass('token-input-real-field');
        
        $("#{{ form.categories.vars.id }}").tokenInput("{{ path('category_search') }}", {
            theme: "facebook"
            {% if category_values is defined %},prePopulate: {{ category_values|raw }}{% endif %}
        });

        $('#{{ form.categories.vars.id }}').addClass('token-input-real-field');
        
        if(parseInt($('#{{ form.deliverable.vars.id }}').val()) != 2){
            $('#{{ form.regions.vars.id }}').parent('.form-group').addClass('hidden_form_field');
        }
            
        $('#{{ form.deliverable.vars.id }}').on('change', function(){
            if(parseInt($(this).val()) == 2){
                $('#{{ form.regions.vars.id }}').parent('.form-group').removeClass('hidden_form_field');
            } else {
                $('#{{ form.regions.vars.id }}').parent('.form-group').addClass('hidden_form_field');
            }
        });

        $('#tree').treeview({data: getTree(), onNodeSelected: function(event, data){
            $("#{{ form.category.vars.id }}").val(data.id);
        }});
        $("#{{ form.category.vars.id }}").parent().css('height', '0px');
        $("#{{ form.category.vars.id }}").parent().css('visibility', 'hidden');
    });
</script>