{% extends "AppWebBundle::layout.html.twig" %}

{% block title %}Online Community of Stores - Stores{% endblock %}

{% block styleseet %}

{% endblock %}

{% block content %}
    <div class="center-1200px breadcrumb ptb-15p uppercase-txt">
	<a href="{{ path('home') }}">Home</a>  -   Store
    </div>

    <section class="center-1200px mt-15p pb-35p block-fl-cary text-left">
        <h3> Store </h3>
        
        {#<div class="block-10 ptb-15p pl-10p">
            <form>
                <input type="text" placeholder="Enter Store Name & Search">
            </form>
        </div>#}

        <div class="full-width mt-10p store-carry">
            {% for store in stores %}
                <div class="block-3 text-center mt-15p block-lb-6 block-sb-12">
                    <a href="{{ path('store_items', {'id': store.getId()}) }}">
                        <div class="block-11 br-5p brd-L-1p pb-40p">
                            <img src="{{ store.getRealPicturePath() | imagine_filter('store') }}" class="image-fw" alt="store logo">
                            <div class="full-width pt-10p prl-15p text-center">
                                <h4> {{ store.getFullName() }} </h4>
                                <span class="uppercase-txt">  - {{ store.getInStockEntries()|length }} products - </span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock%}

{% block javascript %}

{% endblock %}