<div id="banner-image" class="block-98 slider-cary center-pos">
    {% for banner in banners %}
        {% if loop.index0 == 0 %}
            {% set image = banner.getImages()|first %}
            <a href="{{ path(banner.getRouteName(), {'id': banner.getEntity().getId()}) }}"><img src="{{ image.getImage() }}" class="image-fw" alt=""></a>
        {% endif %}
    {% endfor %}
</div>
<div id="banner-items" class="slider-navigation sb-none block-98 absolute-centre absolute-pos block-fl-cary font-normal">
    {% for banner in banners %}
        {% set image = banner.getImages()|first %}
        <div class="block-3 {% if loop.index0 == 0 %}active{% endif %} banner-item" data-image="{{ image.getImage() }}" data-link="{{ path(banner.getRouteName(), {'id': banner.getEntity().getId()}) }}">
            {{ banner.getDescription()|raw }}
        </div>
    {% endfor %}
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#banner-items .banner-item').on('click', function(){
            $('#banner-items .banner-item').removeClass('active');
            $(this).addClass('active');
            $('#banner-image a').attr('href', $(this).data('link'));
            $('#banner-image a img').attr('src', $(this).data('image'));
        });
    });
</script>