
          
    <!----  New Slider Banner -- >
     <!--<div class="block-98 slider-cary relative-pos center-pos">
           <div class="full-width absolute-pos left-pos top-pos slider slide-1 active">
               <a href=""> <img src="banners/2.jpg" class="image-fw" alt="momooz offer"> </a>
           </div>
        	<div class="full-width absolute-pos left-pos top-pos slider slide-2">
               <a href=""> <img src="banners/3.jpg" class="image-fw" alt="momooz offer"> </a>
           </div>
           <div class="full-width absolute-pos left-pos top-pos slider slide-3">
               <a href=""> <img src="banners/1.jpg" class="image-fw" alt="momooz offer"> </a>
           </div>
        </div>-->
   

   
<!--<div id="banner-image" class="block-98 slider-cary center-pos">   
    {% for banner in banners %}
        {% if loop.index0 == 0 %}
            <a href="{{ path(banner.getRouteName(), {'id': banner.getEntity().getId()}) }}">
            <img src="{{ banner.getRealPicturePath() | imagine_filter('banner') }}" class="image-fw" alt=""></a>
        {% endif %}
    {% endfor %}
</div>-->
  <div id="banner-image" class="block-98 slider-cary relative-pos center-pos">
         {% set i = 1 %}
          {% for banner in banners %}
                      
        {% if loop.index0 < 5 %}
           <div class="full-width absolute-pos left-pos top-pos slider slide-{{ i }} {% if loop.index0 == 0 %}active{% endif %}">
               <a href="{{ path(banner.getRouteName(), {'id': banner.getEntity().getId()}) }}"> <img src="{{ banner.getRealPicturePath() | imagine_filter('banner') }}" class="image-fw" alt="momooz offer"> </a>
           </div>
            
       {% endif %}
       {% set i = i + 1 %}
    {% endfor %}
          
          <!-- <div class="full-width absolute-pos left-pos top-pos slider slide-1 active">
               <a href=""> <img src="banners/2.jpg" class="image-fw" alt="momooz offer"> </a>
           </div>
        	<div class="full-width absolute-pos left-pos top-pos slider slide-2">
               <a href=""> <img src="banners/3.jpg" class="image-fw" alt="momooz offer"> </a>
           </div>
           <div class="full-width absolute-pos left-pos top-pos slider slide-3">
               <a href=""> <img src="banners/1.jpg" class="image-fw" alt="momooz offer"> </a>
           </div>-->
        </div>
<div id="banner-items" class="slider-navigation block-98 absolute-centre absolute-pos block-fl-cary font-normal">
    {% for banner in banners %}     
        {% if loop.index0 < 4 %}
            <div class="block-3 {% if loop.index0 == 0 %}active{% endif %} banner-item relative-pos" data-image="{{ banner.getRealPicturePath() | imagine_filter('banner') }}" data-link="{{ path(banner.getRouteName(), {'id': banner.getEntity().getId()}) }}">
                {{ banner.getDescription()|raw }}
            </div>
        {% endif %}
    {% endfor %}
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#banner-items .banner-item').on('click', function(){
            $('#banner-items .banner-item').removeClass('active');
            $(this).addClass('active');
            $('#banner-image a').attr('href', $(this).data('link'));
            $('#banner-image a img').attr('src', $(this).data('image'));
        });
    });
</script>