{% extends "AppWebBundle::layout.html.twig" %}

{% block title %}Online Community of Stores - {{ entry.getItem().getName() }}{% endblock %}

{% block styleseet %}

{% endblock %}

{% block content %}
    {% set category = entry.getItem().getProduct().getCategory() %}
    {% set item = entry.getItem() %}
    
    {% set inCart = null %}
    {% if cart %}
        {% set inCart = cart.inCart(entry) %}
    {% endif %}
    
    {% set inWishList = null %}
    {% if wishlist %}
        {% set inWishList = wishlist.inWishList(entry) %}
    {% endif %}
                        
    <div class="center-1200px breadcrumb ptb-15p uppercase-txt">
	<a href="{{ path('home') }}">Home</a>  - Category - <a href="{{ path('category_page', {id: category.getId()}) }}">  {{ category.getCategoryName() }} </a>  -  {{ item.getName() }}
    </div>

    <div class="center-1200px block-fl-cary va-top">
        <div class="filters-left block-3 ptb-15p sb-ptb-5p   block-lb-12 block-fl-cary va-top resposive-filter transition_05s">
            <div class="block-12 block-lb-3 lb-pl10 block-mb-6 block-sb-12 mb-text-left">
                <h3 class="mb-20p"> {{ category.getCategoryName() }} </h3>
                <div class="first-cat-cary mb-25p">
                    <input type="checkbox" name="cat[]" value="0" class="mr-10p">  All  <div class="count-products-filter mb-10p dispaly-inline-block prl-5p br-5p">{{ category.getInStockEntries()|length }}</div> <br/>
                    {% for cat in category.getChilds() %}
                        <input type="checkbox" name="cat[]" value="{{ cat.getId() }}" class="mr-10p">  {{ cat.getCategoryName() }}   <div class="count-products-filter mb-10p  dispaly-inline-block prl-5p br-5p">{{ cat.getInStockEntries()|length }}</div> <br/>
                    {% endfor %}
                </div>
               </div>
               <div class="block-12 block-lb-3 lb-pl10 block-mb-6 block-sb-12 mb-text-left"> 
                <h3 class="mb-10p"> Refine By </h3>
                    <div class="none-overx-pro mb-25p">
                        <input type="checkbox" name="refine[]" value="offer" class="mr-10p">   Products on offer  <br/>
                        <input type="checkbox" name="refine[]" value="new" class="mr-10p">   New Launches   <br/>
                    </div>
                </div>
                <div class="block-12 block-lb-3 lb-pl10 block-mb-6 block-sb-12 mb-text-left">
                <h3 class=""> Brands </h3>
                <input type="text" placeholder="Search Brand Name Here" class="mb-15p">
                    <div class="none-overx-pro first-cat-cary mb-25p">
                    <input type="checkbox" name="brand[]" value="0" class="mr-10p"> All   <br/>
                    {% for brand in category.getAllBrands() %}
                        <input type="checkbox" name="brand[]" value="{{ brand.getId() }}" class="mr-10p">  {{ brand.getName() }}   <br/>
                    {% endfor %}
                    </div>
                </div>

                {#<div class="block-12 block-lb-3 lb-pl10 block-mb-6 block-sb-12 mb-text-left">
                 <h3 class="mb-10p"> Price </h3>
                    <div class="none-overx-pro mb-25p">
                    <input type="checkbox" name="" class="mr-10p">  Less than Rs 20  <br/>
                    <input type="checkbox" name="" class="mr-10p">  Rs 21 to Rs 50    <br/>
                    <input type="checkbox" name="" class="mr-10p">  Rs 51 to Rs 100    <br/>
                    </div>
                </div>#}

                <div class="close-filter pointer-csr full-width ptb-5p blue-bg white-txt uppercase-txt pl-10p">
                 <span class="icon-close-x" style="font-size:12px;"></span> Close </div>
        </div>
        <div class="block-9 product-details-page ptb-15p block-fl-cary pb-50p block-lb-12">     
            <div class="block-6 text-right mb-text-left block-sb-12">
                    <div class="block-10">
                    <img src="{{ item.getRealPicturePath() | imagine_filter('item_large') }}" class="image-fw item-img-preview" alt="product name">

                    <div class="full-width details-page-click-image mt-10p text-center">
                        {% for image in item.getImages() %}
                            <div class="block-3 prl-10p pointer-csr"> <img data-imglarge="{{ item.getRealPicturePath(loop.index0) | imagine_filter('item_large') }}" src="{{ item.getRealPicturePath(loop.index0) | imagine_filter('item_thumb') }}" class="image-fw item-thumb" alt="product name"> </div>
                        {% endfor %}
                    </div>
                    <script type="text/javascript">
                        $('.item-thumb').on('click', function(){
                            $('.item-img-preview').attr('src', $(this).data('imglarge'));
                        });
                    </script>
                </div>
            </div>
            <div class="block-6 text-right mt-20p sb-text-left block-sb-12">
                <div class="block-11 text-left">	
                    <h2>{{ item.getName() }}</h2>
                    <div class="full-width ptb-20p">
                        <div class="block-5">
                            {% if entry.getVariant() %}
                                <h3> {{ entry.getVariant().getValue() }} </h3>
                                <span class="dim-font"> in packet </span>
                            {% endif %}
                        </div>
                        <div class="block-5">
                            <h3> <span class="icon-inr" style="font-size:16px;"></span> {{ entry.getActualPrice() }} </h3>
                            <span class="dim-font"> <strike> <span class="icon-inr"></span> {{ entry.getMrp() }} </strike> </span> <br/>
                            <span class="save-font"> Save <span class="icon-inr"></span> {{ entry.getMrp() - entry.getActualPrice() }}/- </span>
                        </div>
                    </div>
                    <div class="full-width mt-10p">
                        {% set addresses = entry.getStock().getVendor().getAddresses() %}
                        <span class="dim-font">Seller:</span> <a href="">  {{ entry.getStock().getVendor().getFullName() }}{% if addresses|length > 0 %}{{ ', '~addresses|first.getStreet() }}{% endif%} </a> <br>
                        <span class="dim-fon dispaly-block pointer-csr change-seller" style="margin-top: 5px;">  Change Seller  </span>
                        <div class="full-width show-change-seller transition_05s">
                            <select id="cmb_seller" class="br-5p block-7 brd-L-1p uppercase-txt seller-selectmenu">
                                {% for val in item.getInStockEntries() %}
                                    {% set display = true %}
                                    {% if entry.getVariant() and val.getVariant() %}
                                        {% if val.getVariant().getId() != entry.getVariant().getId() %}
                                            {% set display = false %}
                                        {% endif %}
                                    {% endif %}
                                    {% if display %}
                                        {% set addresses = val.getStock().getVendor().getAddresses() %}
                                        <option {% if entry.getId() == val.getId() %}selected=""{% endif %} value="{{ val.getId() }}"> {{ val.getStock().getVendor().getFullName() }}{% if addresses|length > 0 %}{{ ', '~addresses|first.getStreet() }}{% endif%} - Rs. {{ val.getActualPrice() }} </option>
                                    {% endif %}
                                {% endfor%}
                            </select>
                            <script type="text/javascript">
                                var switch_selleer_path = "{{ path('item_page', {'id': 0}) }}";
                                $('#cmb_seller').on('change', function(){
                                    var loc = switch_selleer_path.replace('0', $(this).val());
                                    window.location = loc;
                                    return false;
                                });
                            </script>
                        </div>
                    </div>
                    <div class="full-width mt-20p">
                        <h4 class="mb-10p"> Available Quantity  </h4>
                        {% for variantType in item.getVariantsInStock() %}
                            {% if variantType|length > 0 %}
                                <span class="dim-font">{{ variantType|first.getVariantType().getName() }}</span>
                                <br/>
                                <select id="cmb_variant" class="br-5p block-7 brd-L-1p uppercase-txt">
                                    {% for variant in variantType %}
                                        <option {% if variant.getId() == entry.getVariant().getId() %}selected=""{% endif %} value="{{ variant.getId() }}"> {{ variant.getValue() }} </option>
                                    {% endfor %}
                                </select>
                                <script type="text/javascript">
                                    var switch_variant_path = "{{ path('item_page_variant', {'id': item.getId()}) }}";
                                    $('#cmb_variant').on('change', function(){
                                        window.location = switch_variant_path+'?variant='+$(this).val();
                                        return false;
                                    });
                                </script>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="full-width mt-20p">
                        <h4 class=""> Check Availability  </h4>
                        <div class="availChecker">
                            <input type="text" id="txtCheckAvail" {% if location %}value="{{ location.getPinCode() }}"{% endif %} style="width: 85%;" placeholder="Type Pincode" />
                            <button class="momz-button" id="btnCheckAvail">Check</button>
                        </div>
                        <div class="availDisplay" style="display: none; margin: 10px 0;">
                            <div></div>
                            {% if inCart == null %}<a href="javascript:;" style="color: blue; font-size: 12px; text-decoration: underline;">Try Another PIN</a>{% endif %}
                        </div>
                        <script type="text/javascript">
                            $('#btnCheckAvail').on('click', function(){
                                var pin = $('#txtCheckAvail').val();
                                $.ajax({
                                    url: '{{ path('item_deliverable', {'id': entry.getId()}) }}?pin='+pin,
                                    dataType: 'json',
                                    success: function(resp){
                                        if(resp.status){
                                            $('.availChecker').hide();
                                            $('.availDisplay div').html(pin+' : <span style="color:green;">Available</span>');
                                            $('.availDisplay').show();
                                            $('#add-to-cart').removeAttr('disabled');
                                        } else {
                                            $('.availChecker').hide();
                                            $('.availDisplay div').html(pin+' : <span style="color:red;">Not Available</span>');
                                            $('.availDisplay').show();
                                            $('#add-to-cart').attr('disabled', 'disabled');
                                        }
                                    }
                                });
                                
                                $('.availDisplay a').on('click', function(){
                                    $('.availChecker').show();
                                    $('.availDisplay').hide();
                                    $('#add-to-cart').attr('disabled', 'disabled');
                                });
                            });
                            
                            {% if location %}$('#btnCheckAvail').trigger('click');{% endif %}
                        </script>
                        <span class="extrasmall-dim-font pt-5p dispaly-block"> Standard Delivery: 14/11/2016 - Monday </span>
                    </div>

                    <div class="full-width mt-20p">
                        <label> Number of Quantity </label>
                        <input type="number" {% if inCart %}disabled=""{% endif %} id="purchase-quantity" value="{% if inCart %}{{ inCart.getQuantity() }}{% else %}1{% endif %}" max="{{ entry.getInStock() }}" min="1">
                    </div>

                    <div class="full-width mt-10p ptb-10p">
                        <button {% if inCart %}style="display: none;"{% endif %} class="momz-button" id="add-to-cart" disabled=""> Add to Cart <span class="icon-arrow-right"></span> </button>
                        <span id="in-cart" style="color: green; {% if inCart == null %}display: none;{% endif %}"><i style="color: #333;" class="fa fa-shopping-cart fa-1" aria-hidden="true"></i> In Cart</span>
                        <button {% if inWishList %}style="display: none;"{% endif %} class="momz-button ml-10p mb-ml-0p mt-10p" id="add-to-wishlist"> Add to Wishlist <span class="icon-arrow-right"></span> </button>
                        <span id="in-wishlist" style="color: green; margin-left: 10px; {% if inWishList == null %}display: none;{% endif %}"><i style="color: #333;" class="fa fa-heart fa-1" aria-hidden="true"></i> In Wishlist</span>
                        <script type="text/javascript">
                            $('#add-to-cart').on('click', function(){
                                var quantity = $('#purchase-quantity').val();
                                $.ajax({
                                    url: '{{ path('item_add_to_cart', {'id': entry.getId()}) }}?qty='+quantity,
                                    dataType: 'json',
                                    success: function(resp){
                                        if(resp.status){
                                            $('#add-to-cart').hide();
                                            $('#in-cart').show();
                                            $('.availDisplay a').remove();
                                            $('#purchase-quantity').attr('disabled', 'disabled');
                                            $('#cart-badge').html(parseInt($('#cart-badge').html()) + 1);
                                            alert('Successfully added to cart');
                                        } else {
                                            alert('Insufficient stock');
                                        }
                                    }
                                });
                            });
                            
                            $('#add-to-wishlist').on('click', function(){
                                $.ajax({
                                    url: '{{ path('item_add_to_wishlist', {'id': entry.getId()}) }}',
                                    dataType: 'json',
                                    success: function(resp){
                                        if(resp.status){
                                            $('#add-to-wishlist').hide();
                                            $('#in-wishlist').show();
                                            $('#wishlist-badge').html(parseInt($('#wishlist-badge').html()) + 1);
                                            alert('Successfully added to wishlist');
                                        } else {
                                            alert('Unable to add item to wishlist');
                                        }
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>

            <div class="block-12 mt-25p pl-20p  pt-20p border-top ml-20p block-mb-11 mb-text-left">
                <h4> Description  </h4>
                <p>{{ item.getDescription() }}</p>
            </div>
            {% for spec in item.getSpecifications() %}
                <div class="block-12 mt-20p prl-20p ml-20p block-mb-11 mb-text-left">
                    <h4> {{ spec.getTitle() }}  </h4>
                    <p> {{ spec.getValue()|raw }}  </p>
                </div>
            {% endfor %}
            <div class="full-width mt-30p">
                <h4 class="mt-50p pl-25p pt-30p text-center"> recently viewed</h4>
                {% for viewed in recently_viewed %}
                    {% set entry = viewed.getEntry() %}
                    <div class="block-4 text-center mt-40p  block-mb-6 block-sb-12">
                            <div class="block-10">
                                <a href="{{ path('item_page', {'id' : entry.getId()}) }}">
                                    <div class="block-8"> <img src="{{ entry.getItem().getRealPicturePath() | imagine_filter('item_thumb') }}" class="full-width" alt=""> </div>
                                    <h5 class="mt-15p block-8">  
                                        {{ entry.getItem().getName() }}{% if entry.getVariant() %} - {{ entry.getVariant().getValue() }} {% endif %}
                                    </h5>
                                    <h3 class="mt-10p"> <span class="icon-inr"></span> {{ entry.getActualPrice() }} </h3>
                                </a>
                                <div class="full-width mt-15p">
                                    <button {% if app_web_user.inCart(entry) %}style="display: none;"{% endif %} class="button-product br-5p ptb-10p prl-15p pointer-csr add-to-cart" data-entry="{{ entry.getId() }}">
                                        Add to Cart <span class="icon-arrow-right ml-5p"></span>
                                    </button>
                                    <span class="entry-in-cart" style="color: green; {% if app_web_user.inCart(entry) == false %}display: none;{% endif %}"><i style="color: #333;" class="fa fa-shopping-cart fa-1" aria-hidden="true"></i> In Cart</span>
                                </div>
                            </div>
                    </div>
                {% endfor %}

            
            </div>

        </div>
    </div>
{% endblock%}

{% block javascript %}

{% endblock %}