{% set break = false %}
{% set count = 0 %}
{% for entry in entries if not break %}
    {% if app_web_user.isDeliverable(entry) and entry.isEnabled()  %}
        {% set count = count + 1 %}
        <div class="block-3 ptrbl-5p mt-10p block-mb-6 block-sb-12 new_entry_{{ entry.getId() }}">
            <a href="{{ path('item_page', {'id': entry.getId()}) }}">
                <div class="block-98 brd-L-1p br-4p center-pos prl-20p ptb-25p text-center">
                    <div class="block-6">
                        <img src="{{ entry.getItem().getRealPicturePath() | imagine_filter('item_thumb') }}" class="image-fw" alt="momooz product image">
                    </div>
                    <div class="block-8 capitalize-txt mt-20p">
                        <span class="newNameSpan">{{ entry.getItem().getName() }}</span>
                        <br>
                        <span style="text-decoration: line-through;margin-bottom: 5px;display: inline-block;width:100%;font-size:13px;color:#666;">MRP : {{ entry.getMrp() }}</span>
                        <strong>RS. {{ entry.getActualPrice() }}/{% if entry.getVariant() %}{{ '/'~entry.getVariant().getValue() }}{% endif %}</strong>
                    </div>
                </div>
            </a>
        </div>
        {% if count == 8 %}
            {% set break = true %}
        {% endif %}
    {% endif %}
{% endfor %}