{% set filterData = entry.getFilterData() %} 
{% set brand_class = '' %} 
{% if filterData['brand'] is defined %}
    {% set brand_class = 'brand_'~filterData['brand']['id'] %} 
{% endif %}
{% set cat_class = 'cat_'~filterData['cat']['id'] %} 
{% for t_cat in filterData['tagged_cats'] %}
    {% set cat_class = cat_class ~ ' cat_'~t_cat['id'] %}
{% endfor %}
{% set on_offer = '' %} {% if filterData['offer'] %} {% set on_offer = 'on_offer' %} {% endif %}
{% if thumb_items is not defined %}
    {% set thumb_items = [] %}
{% endif %}
{% if thumb_items[entry.getItem().getId()] is not defined %}
    {% set thumb_items[entry.getItem().getId()] = entry.getId() %}
    <div class="block-4 text-center mt-40p block-mb-6 block-sb-12 item-thumb {{ brand_class~' '~cat_class~' '~on_offer }}">
        <div class="block-10">
            <a href="{{ path('item_page', {'id': entry.getId()}) }}">
                <div class="block-8"> <img src="{{ entry.getItem().getRealPicturePath() | imagine_filter('item_thumb') }}" class="full-width" alt=""> </div>
                <h5 class="mt-15p block-11">
                    {{ entry.getItem().getName() }}{% if entry.getVariant() %}{{ ' - '~entry.getVariant().getValue() }}{% endif %}
                </h5>
                <h3 class="mt-5p"> <span style="text-decoration: line-through;margin-bottom: 5px;display: inline-block;width:100%;font-size:13px;color:#666;">MRP : {{ entry.getMrp() }}</span>
                    <span class="icon-inr ml-5p" style="font-size:13px;"></span>{{ entry.getActualPrice() }}</h3>
            </a>
            {% if entry.getInStock() > 0 %}
                <div class="full-width mt-10p">
                    <input type="number" class="txt-item-qty mt-0p" value="1" style="width: 45px;" min="0" />
                    <span>{% if entry.getVariant() %}{{ entry.getVariant().getValue() }}{% endif %}</span>
                    {% set in_cart_count = app_web_user.getCartCount(entry) %}
                    <span class="in_cart_count" style="{% if in_cart_count == 0 %}display: none;{% endif %}"><i>{{ in_cart_count }}</i> in cart</span>
                    <button class="button-product br-5p ptb-5p prl-5p pointer-csr add-to-cart ml-5p" data-entry="{{ entry.getId() }}">
                        Add to Cart <span class="icon-arrow-right ml-0p" style="font-size:10px;color:#333;"></span>
                    </button>
                </div>
            {% else %}
                <div class="out-of-stock">Out of stock</div>
            {% endif %}

            {% if entry.getItem().getVariantsInStock()|length > 0 %}
                <ul class="VarientShowHover">
                    {% for variantType in entry.getItem().getVariantsInStock() %}
                        {% if variantType|length > 0 %}
                            {% for variant in variantType %}
                                {% set variantEntry = entry.getItem().getEntryForVariant(variant) %}
                                {% if variantEntry and variantEntry.getId() != entry.getId() %}
                                    {% set in_cart_count = app_web_user.getCartCount(variantEntry) %}
                                    <li class="VaM">
                                        <div class="b6 VaM text-left"> <span class="iB icon-inr"></span> {{ variantEntry.getActualPrice() }}/{{ variant.getValue() }} </div>
                                        {% if variantEntry.getInStock() > 0 %}
                                            <div class="b4 VaM"><input type="number" name="" class="txt-item-qty" min="0"> <span class="in_cart_count" style="{% if in_cart_count == 0 %}display: none;{% endif %}">(<i>{{ in_cart_count }}</i>)</span></div>
                                            <div class="b2 VaM text-center add-to-cart" data-entry="{{ variantEntry.getId() }}"> <span class="icon-cart-arrow-down iB pointer-csr"></span> </div>
                                        {% else %}
                                            <div class="varient-out-of-stock">Out of stock</div>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endif  %}
                    {% endfor %}
                </ul>
            {% endif  %}
        </div>
        <script type="text/javascript">
            filter_modal.register('{{ filterData|json_encode()|raw }}');
        </script>
    </div>
{% endif %}